POSTGRES_DB=categorias_db   # Nombre de la base de datos
POSTGRES_USER=nestuser      # Nombre de usuario para la base de datos
POSTGRES_PASSWORD=secretpassword  # Contraseña de la base de datos 
POSTGRES_HOST=localhost    # Host para la base de datos (puede ser 'localhost' o el nombre del contenedor en Docker)
POSTGRES_PORT=5432         # Puerto donde la base de datos escucha

# URL de conexión a la base de datos
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

DB_SYNC=true   # Solo en desarrollo, sincroniza las entidades con la base de datos automáticamente
DB_SSL=false   # En producción, generalmente se pone como true (para conexiones seguras)
